services:
  postgres:
    image: postgres:15
    container_name: hg_pg
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./postgres/initdb:/docker-entrypoint-initdb.d   #runs 01_create_dw.sql

  dagster_webserver:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: dagster_webserver
    restart: unless-stopped
    depends_on:
      - postgres
    environment:
      DAGSTER_HOME: ${DAGSTER_HOME}
      DAGSTER_PG_USER: ${DAGSTER_PG_USER}
      DAGSTER_PG_PASSWORD: ${DAGSTER_PG_PASSWORD}
      DAGSTER_PG_DB: ${DAGSTER_PG_DB}
      DAGSTER_PG_HOST: ${DAGSTER_PG_HOST}
      DAGSTER_PG_PORT: ${DAGSTER_PG_PORT}
      PYTHONPATH: ${PYTHONPATH}
      CHURN_CRON: ${CHURN_CRON}
      CHURN_SENSOR_INTERVAL: ${CHURN_SENSOR_INTERVAL}
      DBT_PROFILES_DIR: ${DBT_PROFILES_DIR}
    volumes:
      - ./:/opt/dagster/app
      - ./dagster_home:/opt/dagster/dagster_home
    ports:
      - "3000:3000"
    command:
      [
        "dagster-webserver",
        "-h", "0.0.0.0",
        "-p", "3000",
        "-w", "/opt/dagster/app/workspace.yaml"
      ]

  dagster_daemon:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: dagster_daemon
    restart: unless-stopped
    depends_on:
      - postgres
    environment:
      DAGSTER_HOME: ${DAGSTER_HOME}
      DAGSTER_PG_USER: ${DAGSTER_PG_USER}
      DAGSTER_PG_PASSWORD: ${DAGSTER_PG_PASSWORD}
      DAGSTER_PG_DB: ${DAGSTER_PG_DB}
      DAGSTER_PG_HOST: ${DAGSTER_PG_HOST}
      DAGSTER_PG_PORT: ${DAGSTER_PG_PORT}
      PYTHONPATH: ${PYTHONPATH}
      CHURN_CRON: ${CHURN_CRON}
      CHURN_SENSOR_INTERVAL: ${CHURN_SENSOR_INTERVAL}
      DBT_PROFILES_DIR: ${DBT_PROFILES_DIR}
    volumes:
      - ./:/opt/dagster/app
      - ./dagster_home:/opt/dagster/dagster_home
    command: ["dagster-daemon", "run"]

  metabase:
    image: metabase/metabase:latest
    container_name: hg_metabase
    restart: unless-stopped
    depends_on:
      - postgres
    ports:
      - "3001:3000"
    environment:
      MB_DB_TYPE: ${MB_DB_TYPE}
      MB_DB_DBNAME: ${MB_DB_DBNAME}
      MB_DB_PORT: ${MB_DB_PORT}
      MB_DB_USER: ${MB_DB_USER}
      MB_DB_PASS: ${MB_DB_PASS}
      MB_DB_HOST: ${MB_DB_HOST}

volumes:
  pg_data:
